<!-- <table class="table table-boarded">
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>URL</th>
        <th>THUMBNAIL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table> -->
<div class="row">
    <button type="button" class="btn btn-sm btn-success" routerLink="/form/add">ADD</button>
</div>
  <table class="table table-boarded">
    <thead>
      <tr>
        <th>ACTIONS</th>
        <th></th>
        <th>No.</th>
        <th>COUNTRY</th>
        <th>CAPITAL</th>
        <th>POPULATION</th>
        <th>FLAG</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries;let i = index">
        <td><button type="button" class="btn btn-sm btn-danger" (click)="removeCountry(country.id)">DELETE</button> </td>
        <td><button type="button" class="btn btn-sm btn-primary" [routerLink]="['/form/edit', country.id]">EDIT</button> </td>
        <td>{{ i+1 }}</td>
        <td>{{ country.countryName}}</td>
        <td>{{ country.countryCapital}}</td>
        <td>{{ country.population}}</td>
        <td>{{ country.flag}}</td>
      </tr>
    </tbody>
  </table>