.help-block {
    color: red;
    font-size: 12px;
    margin-top: -5px;
}

.sda-required {
    color: red;
    margin-left: 2px;
    position: relative;
    &.sda-required:after {
        content: "*";
        color: red;
        font-size: 12px;
        position: absolute;
        top: -2px;
        left: 1px;
    }

}


