<div class="container m-5">
    <div class="row">
    <button type="button" class="btn btn-tetriary" (click)="generateToken()">Generate Token</button>
    <div class="col"></div>
    <p>Token is valid {{tokenService.token}}</p>
    <div class="col"></div>
    </div>
</div>